@{
    ViewData["Title"] = "Task";
}
<h1>@ViewData["Title"]</h1>
<div class="text-left">
    <p>
        Дописать проект и реализовать возможность удаления элемента из контейнера<br>
        и возможность просмотра конкретного элемента (т.е. вы вводите ID и получаете страницу на которой детально описан объект)<br>
    </p>

</div>
