@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Написать форму для регистрации (5-6 полей)
Данные полученные из формы сохранять в файл (сериализация на ваше усмотрение) в виде набора значений (т.е. заполнили поля, нажали кнопку, данные прилетели на сервер, роассериализовали файл в список элементов, добавили в список полученные значения, засериализовали обратно в файл)</p>
</div>
